.container-main-search{
   
    
}
.container-main-resultado{
    display: flex;
    flex-direction: column;
}
.container-resultado{
    display: flex;
    flex-direction: column;
    
}
a{
    text-decoration: none;
    cursor: pointer;
}

hr{
    width: 100%;    
}