<main class="main">

  <app-categorias 
    [categoriasVeiculos]="veiculos"
    (categoriaSelecionada)="onSelectCategoria($event)"
    
    ></app-categorias>
  <app-veiculo 
    [arrVeiculo]="selectedCategoriaVeiculos" (veiculoSelecionado)="onSelectVeiculos($event)"
    
  ></app-veiculo>
  <!-- <app-veiculo veiculoData="veiculos" (selectedVeiculo)="onSelectVeiculos($event)"></app-veiculo> -->
  <app-descricao [veiculo]="veiculoSelecionado" (descricaoSelecionada)="onDescricaoSelecionada($event)"></app-descricao>
  <app-resumo [resumo]="resumoEscolhido" ></app-resumo>

</main>


<router-outlet></router-outlet>
