<main class="main">
  
    <app-nav-bar></app-nav-bar>
        
    <div class="container-info">
      <div class="info1">
        <app-menu></app-menu>
      </div>
      <div class="info2">
        <app-noticias></app-noticias>
      </div>
      <div class="info3">
        <app-destaque></app-destaque>
      </div>
    </div>
    <div class="container-info2">
      <div class="infor1">
        <app-servicos></app-servicos>
      </div>
      <div class="infor2">
        <app-resultados></app-resultados>
      </div>
    </div>
    <div class="container-footer">
      <app-footer></app-footer>
    </div>
      
    
  </main>

